.card {
    --card-padding: 1rem;
    --card-radius: 1rem;

    border-radius: var(--card-radius);
    border: 1px solid #444;
    overflow: hidden;
}

.card-shadow {
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    padding: 0 var(--card-padding);
}

.card-image {
    overflow: hidden;
    margin-bottom: var(--card-padding);
}

.card:hover > .card-image > img {
    transform: scale(1.15);
}

.card-image > img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
    
    transition: transform 400ms ease-in-out;
}

.card-body {
    font-size: 0.9rem;
    padding: 0 var(--card-padding);
}

.card-footer {
    font-size: 1rem;
    margin-top: 0.8rem;
    padding: 0 var(--card-padding);
    padding-bottom: var(--card-padding);
}

.btn {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: lightskyblue;
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
    color: white;
    border: none;
}

.btn.btn-outliine {
    background-color: white;
    color: lightskyblue;
    border: lightskyblue solid 1px;
}

.btn + .btn {
    margin-left: 0.4em;
}