:root {
  --primary: #2c69b9;
  --secondary: #b9702c;
}

.App {
  padding: 3rem;
  background-image: url(./assets/images/village.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}